include CHANGELOG.rst
include CONTRIBUTING.rst
include CONTRIBUTORS
include LICENSE
include README.rst
include Makefile
include tests.py
include TODO.rst
include update_version.sh
include requirements.txt
include-recursive examples
graft examples
graft docs
prune docs/build
